<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<link rel="stylesheet" href="/css/navbar.css" />

<nav class="navbar navbar-expand-md sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-regular fa-compass"></i> WanderLust
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <!-- Left nav links -->
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
      </div>

      <!-- Center search bar -->
      <form class="form-search-bar" action="/listings/search" method="GET">
        <input
          class="search-input"
          name="q"
          type="search"
          placeholder="Search Destination"
          aria-label="Search"
        />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass me-1"></i>Search
        </button>
      </form>

      <!-- Right login/logout -->
      <div class="navbar-nav nav-profile">
        <% if (!currUser) { %>
        <a class="nav-link" href="/signup">Sign Up</a>
        <a class="nav-link" href="/login">Login</a>
        <% } else { %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
